<div class="main-container container">
  <div class="row justify-content-end">
    <div class="col-4">
      <input [(ngModel)]="newTask" type="text" class="form-control">
    </div>
    <div class="col-4">
      <button class="btn btn-primary" (click)="addTask()">Add</button>
    </div>
  </div>
  <div class="container-card">

    <div class="d-flex justify-content-center">
      <div *ngIf="containsTask; else noTask"></div>
      <ng-template #noTask>
        <p>No tasks created</p>
      </ng-template>
    </div>

    <ul class="list-group" *ngFor="let task of tasks; let i = index">
      <div class="d-flex justify-content-center">
        <li class="list-group-item">
          <input type="checkbox" class="form-check-input" (click)="taskDoneUndone()">
          <span [ngStyle]="{'textDecoration' : taskDone === true ? 'line-through' : 'none'}">
            {{task}}
          </span>
          <button class="btn btn-danger" style="float: right;" type="button" (click)="deleteTask(i)">Remove
            Task</button>
        </li>
      </div>
    </ul>

  </div>
</div>