<ul class="list-group">
    <div class="d-flex justify-content-center">
        <li class="list-group-item">
            <span>
                {{element.description}}
            </span>
            <button class="btn btn-danger" style="float: right;" type="button">Remove
                Task</button>
        </li>

        <!--         
        <input type="checkbox" class="form-check-input" (click)="taskDoneUndone()">
        <span [ngStyle]="{'textDecoration' : taskDone === true ? 'line-through' : 'none'}">
            {{task}}
        </span>
        <button class="btn btn-danger" style="float: right;" type="button" (click)="deleteTask(i)">Remove
            Task</button> -->

    </div>
</ul>